/* -- Contact2 CSS start -- */

.contact-form {
    padding-left: 5em;
}

.contact-feedback {
    font-size: 15pt;
    margin-top: 20pt;
}

.wrapper {
    background-image: url("../images/seattle.jpg");
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

/* -- Contact2 CSS end -- */
