/* -- Portal CSS start -- */

/* ------------------------------------ */
/* PHONE */
@media (max-width: 400px) {
    .background {
      background-image: url("../images/goat1.jpg");
      height: 400px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;  
      overflow: auto;
    }
}

/* TABLET */
@media (min-width: 401px) and (max-width:999px) {
    .background {
      background-image: url("../images/house1.jpg");
      height: 500px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: auto;

    }
}

/* DESKTOP */
@media (min-width: 1000px) {
    .background {
      background-image: url("../images/free-cow1.jpg");
      height: 600px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: auto;

    }
}

/* ------------------------------------ */

h1 {
    font-weight: normal;
    margin: auto;
    background: white;
    line-height: 2.5em;
}

.wrapper {
    background-color: white;
    overflow: auto;
}

p {
    margin: 0.5em 0.5em;
}

h2.subheader {
    font-weight: normal;
    line-height: 3em;
    justify-content: center;
    /*padding-left: 2.4rem;*/
    /*padding-right: 2.4rem;*/
    text-align: center;
    font-size: 50pt;
    color: #f8f7f5;
    font-family: fantasy, sans-serif;
}

/* ----- Content Box -----*/
.contentBox {
    padding-top: 10px;
}

h2.newsheader{
    color: black;
    border-bottom: solid 4px #fc7eab;
    margin-bottom: 0;
    margin: 0.5em 0.5em;
}

#newsBox a {
    color: #966;
    transition: .3s;
}

#newsBox li {
    border-bottom: dotted 3px #f1e4cf;
    padding: 0px 0;
}


.day {
    display: inline-block;
    width: 130px;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    color: #ff8c54;
}

ul {
    list-style-type: none;
}

ul.column1 {
    padding-top: 0px;
    margin: 1em;
    padding-left: 1em;
    background-color: rgb(249, 209, 209);
    color: rgb(25, 24, 24);
}

/* ------ Information box ---------- */
.informationBox {
    padding-top: 10px;
}

h2.informationheader {
    color: black;
    border-bottom: solid 4px #99ff97;
    margin-bottom: 0;
    margin: 0.5em 0.5em;
}

#informationBox a {
    color: rgb(3, 82, 12);
    transition: .3s;
}

#informationBox li {
    border-bottom: dotted 3px #f1e4cf;
    padding: 0px 0;
}


.tag {
    display: inline-block;
    width: 130px;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    color: #066715;
}

ul {
    list-style-type: none;
}

ul.column2 {
    padding-top: 0px;
    margin: 1em;
    padding-left: 1em;
    background-color: rgb(160, 218, 144);
    color: rgb(25, 24, 24);
}



/*
iframe {
    display: block;
    margin: auto;
    width: 90%;
    height: 5700px;
    border: 2px solid darkcyan;
}
*/

